<section class="wrapper style1 ng-scope">
          <div class="container">

          <header>
            <h2>{{expert.profile.name}}</h2>
            <p ng-if="account._id == expert._id" onaftersave="updateUser()" editable-text="expert.expertise">{{expert.expertise || "No skills"}}</p>

            <p ng-if="account._id != expert._id" onaftersave="updateUser()">{{expert.expertise || "No skills"}}</p>


            <p ng-if="account._id == expert._id" editable-text="expert.profile.twitter_handle" onaftersave="updateUser()">{{expert.profile.twitter_handle || "No twitter handle"}}</p>
            <p ng-if="account._id != expert._id" onaftersave="updateUser()">{{expert.profile.twitter_handle || "No twitter handle"}}</p>
          </header>

            <div class="row">

              <section class="6u">
                <div class="box post">
                  <a ng-href="#/experts/{{expert._id}}" class="image left"><img src="{{expert.profile.picture}}" alt=""></a>
                  <div class="inner">
                    <p ng-if="account._id == expert._id" onaftersave="updateUser()" editable-text="expert.description"> {{expert.description || "No description"}}</p>
                    <p ng-if="account._id != expert._id" onaftersave="updateUser()" > {{expert.description || "No description"}}</p>

                    <div class="" ng-if="account._id != expert._id">
                    <label for="">Contact</label>
                    <textarea ng-model="contact.text" name="" id="" cols="30" rows="10"></textarea>
                    <br />
                    <button ng-if="account._id != expert._id" ng-click="contact()" class="button">Contact {{expert.profile.name}}</button>
                    </div>


                  </div>
                </div>
              </section>

              <section ng-if="expert.words" class="6u">
                <wordcloud words="expert.words"></wordcloud>

              </section>
            </div>
          </div>
        </section>