<section class="wrapper style1 ng-scope">
          <div class="container">

          <header>
            <h2>{{expert.profile.name}}</h2>
            <p onaftersave="updateUser()" editable-text="expert.expertise">{{expert.expertise || "No skills"}}</p>
            <p onaftersave="updateUser()" editable-text="expert.profile.twitter_handle">{{expert.profile.twitter_handle || "No twitter handle"}}</p>
          </header>

            <div class="row">

              <section class="6u">
                <div class="box post">
                  <a ng-href="#/experts/{{expert._id}}" class="image left"><img src="http://cnet4.cbsistatic.com/hub/i/2013/09/17/bb225c88-6de0-11e3-913e-14feb5ca9861/67e7d6bd696442e31053ba3b46c4acc6/Screen_Shot_2012-11-02_at_9.41.42_AM.png" alt=""></a>
                  <div class="inner">
                    <p onaftersave="updateUser()" editable-text="expert.description"> {{description || "No description"}}</p>
                    <button ng-if="account._id != expert._id" class="button">Contact {{expert.profile.name}}</button>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </section>