<div class="container">
<div class="row double main container">
            <div class="8u">
              <div id="content">

                <!-- Content -->

                  <article>
                    <header>
                      <h2>Experts near you

</h2>
                      <p>Find a matching influencer on your topic and connect.</p>
                    </header>


                    <p>Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus.
                    Praesent semper mod quis eget mi. Etiam eu ante risus. Aliquam erat volutpat.
                    Aliquam luctus et mattis lectus sit amet pulvinar. Nam turpis nisi
                    consequat etiam lorem ipsum dolor sit amet nullam.</p>


                  </article>

              </div>
            </div>
            <div class="4u">
              <div id="sidebar">

                <!-- Sidebar -->

                  <section>
                    <h3>Register as an Expert</h3>
                    <p>Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus.
                    Praesent semper mod quis eget mi. Etiam eu ante risus. Aliquam erat volutpat.
                    Aliquam luctus et mattis lectus sit amet pulvinar. Nam turpis et nisi etiam.</p>
                    <footer>
                      <a href="#" class="button">Register</a>
                    </footer>
                  </section>



              </div>
            </div>
          </div>

<section class="wrapper style1 ng-scope">
          <div class="container">

          <header>
            <h2>Experts near you</h2>
          </header>

            <div class="row">

              <section ng-repeat="expert in experts" class="6u">
                <div class="box post">
                  <a ng-href="#/experts/{{expert._id}}" class="image left"><img src="{{expert.profile.picture}}" alt=""></a>
                  <div class="inner">
                    <h3>  <a ng-href="#/experts/{{expert._id}}" href="">{{expert.profile.name}}</a> </h3>
                    <p>{{expert.expertise}}</p>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </section>