<section class="register">
              <form name="login">
                <div class="row half">

                  <div class="12u">
                    <input ng-model="form.email" type="email" name="email" id="email" placeholder="Email">
                  </div>
                  <div class="12u">
                    <input ng-model="form.password" type="password" name="password" id="password" placeholder="Password">
                  </div>
                </div>
                <button ng-click="submit()" class="button btn">Login</button>
              </form>
            </section>