  <!-- Gigantic Heading -->
    <section class="wrapper style2">
      <div class="container">
        <header class="major">
          <h2>Writing a story ? Find an expert.</h2>
          <p>Search ...</p>
        </header>
      </div>
    </section>


    <!-- Highlights -->
      <section class="wrapper style1">
        <div class="container">
          <div class="row double">
            <section class="4u">
              <div class="box highlight">
                <i class="icon major fa-question"></i>
                <h3>This Is Important</h3>
                <p>Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.</p>
              </div>
            </section>
            <section class="4u">
              <div class="box highlight">
                <i class="icon major fa-users"></i>
                <h3>Also Important</h3>
                <p>Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.</p>
              </div>
            </section>
            <section class="4u">
              <div class="box highlight">
                <i class="icon major envelope"></i>
                <h3>Probably Important</h3>
                <p>Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.</p>
              </div>
            </section>
          </div>
        </div>
      </section>




      <!-- Posts -->
        <section class="wrapper style1">
          <div class="container">
            <div class="row">
              <section class="6u">
                <div class="box post">
                  <a href="#" class="image left"><img src="images/pic01.jpg" alt="" /></a>
                  <div class="inner">
                    <h3>The First Thing</h3>
                    <p>Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.</p>
                  </div>
                </div>
              </section>
              <section class="6u">
                <div class="box post">
                  <a href="#" class="image left"><img src="images/pic02.jpg" alt="" /></a>
                  <div class="inner">
                    <h3>The Second Thing</h3>
                    <p>Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.</p>
                  </div>
                </div>
              </section>
            </div>
            <div class="row">
              <section class="6u">
                <div class="box post">
                  <a href="#" class="image left"><img src="images/pic03.jpg" alt="" /></a>
                  <div class="inner">
                    <h3>The Third Thing</h3>
                    <p>Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.</p>
                  </div>
                </div>
              </section>
              <section class="6u">
                <div class="box post">
                  <a href="#" class="image left"><img src="images/pic04.jpg" alt="" /></a>
                  <div class="inner">
                    <h3>The Fourth Thing</h3>
                    <p>Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.</p>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </section>

      <!-- CTA -->
        <section id="cta" class="wrapper style3">
          <div class="container">
            <header>
              <h2>Are you ready to continue your quest?</h2>
              <a href="#" class="button">Insert Coin</a>
            </header>
          </div>
        </section>